body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.father {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.child {
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip {
  display: inline-block;
  transform: rotateX(180deg);
}
.child:first-child {
  background-color: black;
  color: white;
  font-size: 24px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding: 10px; */
  padding: 10px;
}

.child:nth-child(2) {
  background-color: #6c01ff;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.column-header {
  font-size: 12px;
  font-weight: bold;
  color: #7e7c7c;
}
.list {
  list-style: none;
  padding: 0;
}

.list-item {
  margin-bottom: 5px;
}
.child:nth-child(3) {
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}

.child:nth-child(4) {
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}

ul {
  list-style: none;
  padding-left: 0px;
  /* display: flex; */
}

li {
  display: flex;
  justify-content: space-between;
}

.child:nth-child(5) {
  background-color: #ff1603;
  justify-content: flex-start;
  align-items: flex-start;
  grid-row: 2/5;
  font-size: 24px;
  padding: 10px;
}

.child:nth-child(7) {
  background-color: #ffca04;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 24px;
  padding: 10px;
}
