        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            display: grid;
            height: 100vh;
            grid-template-columns: 2fr 30px 2fr;
        }

        .left-column {
            background-color: #ff7400;
            display: grid;
            grid-template-rows: repeat(6, 1fr);
        }

        .row {
            display: grid;
            grid-template-columns: 30px 1fr 200px;
        }

        .row>.cell:first-child {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }

        .row>.cell:nth-child(2) {
            font-size: 60px;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            letter-spacing: -5px;
        }

        .cell {
            border: 1px solid #ff0300;
            padding: 10px;
            background-color: inherit;
            color: #ff0300;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: color 0.3s, border-color 0.3s;
        }

        .row:hover .cell {
            color: #ffffff;
            border-color: #ffffff;
        }

        .right-cell {
            display: grid;
            grid-template-rows: 1fr 1fr;
            letter-spacing: -1px;

        }

        .right-cell>.cell:nth-child(1) {
            /* font-size: 16px; */
            /* white-space: nowrap; */
            display: flex;
            flex-direction: column;
            /* 세로로 요소들을 배열하기 위해 열 방향으로 설정 */
            justify-content: center;
            /* 세로 중앙 정렬 */
            align-items: center;
            /* 가로로 가운데 정렬 */
            text-align: center;
            /* letter-spacing: -5px; */
        }

        .cell .round {
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #ff0300;
            color: #ff7400;
            border-radius: 25px;
            padding: 10px 20px;

            white-space: nowrap;

            margin: auto;
        }

        .row:hover .cell .round {
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #ffffff;
            color: #ff7400;
            border-radius: 25px;
            padding: 10px 20px;

            white-space: nowrap;

            margin: auto;
        }

        .middle-column {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            position: relative;
        }

        .middle-column .top-middle::after {
            content: '🌼';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            z-index: 2;
        }

        .middle-column .top-middle {
            background-color: #ff00ff;
            display: flex;
            align-items: center;
            justify-content: start;
            writing-mode: vertical-lr;
            height: 100%;
            padding-top: 20px;
        }

        .middle-column .bottom-middle {
            background-color: #1900ff;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            display: flex;
            align-items: center;
            justify-content: start;
            height: 100%;
            padding-top: 20px;
        }


        .right-column {
            display: grid;
            grid-template-rows: 30px repeat(6, 1fr);
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            padding: 10px;
            background-color: #ff0300;
        }

        .right-column-header {
            grid-column: 1 / -1;
            color: #000000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            padding-left: 0;
        }

        .item {
            color: #000000;
            border-top: 1px solid #000000;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            padding-left: 0px;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .item-header {
            height: 1px;
        }

        .item-body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 0;
        }

        .item-title {
            /* font-weight: bold; */
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 5px;
        }

        .item-content {
            font-size: 12px;
            line-height: 1.2;
            letter-spacing: -1px;

        }