body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    display: grid;
    height: 100vh; /* 뷰포트의 크기의 100% */
    grid-template-columns: 1fr 1fr 1fr; /* fraction(fr) 비율 ..flex-grow에서 박스크기를 비율로 설정한 것과 같음. */
    grid-template-rows: 1fr 2fr 1fr;
    /* grid-template-areas:
    "header header header header"
    "content content content menu"
    "content content content menu"
    "footer footer footer footer";  */
    
   /* - grid-template-areas는 텍스트로 grid의 템플릿을 디자인 해ㅌ줌. 즉 템플릿의 영역을 정의함.
    위와 같이 grid-template-areas: 내용을 입력하고 inspetor show area names 으로 보면 영역을 눈으로 볼 수 있음.
    이 grid-template-areas는 각각의 속성에서 grid-area: header 와 같이 grid-template-areas의 속성값을 입력해 줌으로써 서로 연결됨.
    
    - grid-template
    */

     grid-template:
        "header header header" 1fr /* 세로의 비율 */
        "bad bad bad-next " 2fr /* 세로의 비율 */
        "religion" 3fr /* 세로의 비율 *// 1fr 4fr 3fr ; /* 가로의 비율 */
}

header {
    background-color: aqua;
    grid-area: header;
    /* grid-area: header; */
}

section {
    background-color: coral;
    grid-area: bad;
    /* grid-area: content; */
}

aside {
    background-color: forestgreen;
    grid-area: bad-next;
    /* grid-area: menu; */

    .father {
        display: grid;
        gap: 10px;
        min-height: 50vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
    }
}

footer {
    background-color: deeppink;
    grid-area: religion;
    /* grid-area: footer; */

    .child {
        background-color: tomato;
        color: white;
        font-size: 28;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}